<% provide(:title, @user.name) %>
<div class="row">
  	<aside class="col-md-4">
    	<section class="user_info">
      	<h1>
        	Welcome <%= @user.name %>
      	</h1>
      	<p>Please click on home to view all the available events.</p>
    	</section>
  	</aside>
</div>