<% provide(:title, @event.name) %>
<div class="row">
  <aside class="col-md-4">
   	<section class="user_info">
    	<h3>
       	Name: <%= @event.name %>
    	</h3>
    	<h4>
       	Occurance Date of Event: <%= @event.date_of_event.strftime("%m/%d/%Y") %>
    	</h4>
    </section>
    <br/>
    <% if logged_in? %>
      <% if !past_event? @event.date_of_event.strftime("%d/%m/%Y") %>
         <% if @user_event.first.present? %>
          <h3><%= link_to "delete attendence",  event_path, method: :delete %></h3>
         <% else %>
         	 <h3><%= link_to "attend",  createnewevent_path(:id => @event.id) %></h3>
        <% end %>
      <% else %>
        <h4>You cannot attend this event as it has already occured</h4>
      <% end %>
      <% else %>
        <h4>Please Log in if you want to attend this event!</h4>
    <% end %>
  </aside>
   <div class="col-md-6">
    <% if @all_attendies.count > 0%>
      <table class="table table-bordered">
        <tr>
          <th>Name</th>
          <th>Gender</th>
          <th>Fees</th>
        </tr>
        <% @all_attendies.each do |user| %>
          <tr>
            <td><%= user.name%></td>
            <td><%= user.gender%></td>
            <% if(user.gender == "female") %>
              <td><%= 0.95 * @event.fee%> (Discount)</td>
            <% else %>
              <td><%= @event.fee%></td>
            <% end %>
          </tr>
  	     <% end %>
      </table>
    <% else %>
      <h4>This event has zero attendance</h4>
    <%end%>
   </div>
</div>