<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <ul class="nav navbar-nav navbar-center">
      	<li><%= link_to "Home",  events_path %></li>
        <% if logged_in? %>
         	<li><%= link_to "Log Out", logout_path, method: "delete" %></li>
        <% else %>
        	<li><%= link_to "Log in", login_path %></li>
          <li><%= link_to "Register", register_path %></li>
        <% end %>
      </ul>
    </nav>
  </div>
</header>
